body {
    margin: 0px;
    font-family: 'Microsoft YaHei';
}

img {
    position: absolute;
}

/*span {
    position: absolute;
}*/
.bolder {
    font-weight: bolder;
}

.question_desc {
    width: 80%;
    word-wrap: break-word;
    font-weight: bolder;
}

.perquestion-div {
    padding-top: 80px;
    width: 80%;
    margin-left: 10%;
}



.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
}

.page-0 {
    background-color: #DFD3EB;
}

    .page-0 .loading {
        width: 30%;
        height: 40%;
        position: absolute;
        left: 50%;
        top: 40%;
        margin-top: -20%;
        margin-left: -15%;
        font-size: 20%;
        color: #000;
    }

    .page-0 .loading-img {
        width: 100%;
        margin-bottom: 10%;
    }

    .page-0 .loading div {
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        font-size: 20px;
    }

.page-1 {
    background-image: url('../img/index.png');
}

    .page-1 .xunbao-btn {
        top: 48%;
        left: 8%;
        width: 40%;
    }

    .page-1 .rule-btn {
        top: 48%;
        left: 52%;
        width: 40%;
    }

    .page-1 .rank-btn {
        top: 60%;
        left: 8%;
        width: 40%;
    }

    .page-1 .return-btn {
        top: 60%;
        left: 52%;
        width: 40%;
    }

.page-2 {
    background-image: url("../img/worldmap.png");
}

    .page-2 .normal-return-btn {
        top: 85%;
        left: 65%;
        width: 30%;
    }
    .page-2 .position{
        opacity:0;
        width:25px;
        z-index:999;
    }
    .page-2 .letter{
        opacity:0;
        width:20px;
        z-index:998;
    }
    .page-2 .boat{
        opacity:0;
        width:12%;
        z-index:997;
    }

.page-question {
    background-image: url('../img/question-back.png');
}

    .page-question .clock {
        width: 15%;
        left: 55%;
        top: 30%;
        z-index: 99;
    }

    .page-question .using-time-span {
        left: 70%;
        top: 34%;
        font-size: x-large;
        font-weight: bolder;
        z-index: 99;
        position: absolute;
    }

    .page-question .question-div {
        position: absolute;
        top: 30%;
        left: 8%;
        min-height: 48%;
        width: 84%;
        /* border: green 1px solid; */
        background-color: white;
        opacity: 0.4;
    }

    .page-question .question-div-text {
        position: absolute;
        top: 30%;
        left: 8%;
        min-height: 48%;
        width: 84%;
        /* border: green 1px solid; */
    }

.page-99 {
    background-image: url('../img/rule-back.png');
}

    .page-99 .normal-return-btn {
        top: 80%;
        left: 60%;
        width: 30%;
    }

.page-result {
    background-image: url('../img/result-back.png');
}

    .page-result .result-board {
        width: 90%;
        left: 5%;
        top: 18%;
    }

    .page-result .result-letter {
        width: 40%;
        top: 35%;
        left: 30%;
    }

    .page-result .result-return {
        width: 30%;
        left: 10%;
        top: 70%;
    }

    .page-result .result-next {
        width: 30%;
        top: 70%;
        left: 60%;
    }
